@import "tailwindcss";

.about-container{
    background-color: #ffffff;
    padding: 4rem 2rem;
    text-align: center;
    max-width: 1200px;
}
.AboutHeadText{
    color: #FDC101;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

.about-title{
    color: #1e2329;
}
