.education-subtitle{
  font-size: 1.5rem;
  color: #2f3742;
  text-align: center;
}
.education-subtitle span{
  color : #FDC101;
}
.education-title{

  font-size: 2.5rem;
  font-weight: 700;
  color: #2f3742;
  text-align: center;
}
.education-title span{
  color : #FDC101;
}

.container_education{
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.education_part{
  width: 600px;
}

.education_part_header{
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.education_part_header:hover{
  transform: translateY(-5px);
  transition: 0.3s;
}


.education_part_right{

  width: 600px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.education_part_right:hover{
  transform: translateY(-10px);
  transition: 0.3s;
}

.education_part_right h2{
  font-size: 20px;
  font-weight: 500;
  color: #FDC101;
  padding: 0 0 10px 0;
}

.education_part_right p{
  font-size: 14px;
  color: #2f3742;
  padding: 0 0 10px 0;
}


.education_part_header h2{
  font-size: 20px;
  font-weight: 500;
  color: #FDC101;
  padding: 0 0 10px 0;
}



.education_part_header p{
  font-size: 14px;
  color: #2f3742;
  padding: 0 0 10px 0;
}
.education_part_header a{
  font-size: 12px;
  text-decoration: none;
  color: #FDC101;
  border: #FDC101 1px solid;
  border-radius: 24px;
  padding: 10px 10px;
  transition: 0.5s;
}

.education_part_header a:hover{
  font-size: 14px;
  background-color: #FDC101;
  color: #1E2329;
  font-weight: 500;
  transition: 0.5s;
}




.technical_skill_items{
  padding-top: 10px;
  display: flex;

}



.technical_skill_items img{
  width: 50px;
  margin-right: 15px;
}



@media (max-width: 1000px) {
  .container_education {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .education_part {
    width: 100%;
    
  }
  .technical_skill_items img{
    width: 40px;
    margin-right: 10px;
  }

  .education_part_header {
    margin: 0 0 20px 0;
  }


  .education_part_right {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .education_part_right h2 {
    font-size: 18px;
  }
  .education_part_header p {
    font-size: 14px;
  }


}