@import "tailwindcss";

.experienceContainer {
  color: #243037;
  padding: 50px 0;
  text-align: center;
  padding: 4rem 0rem;
}
.experience-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.experience-title span {
  color: #FDC101;
}
.experience-subtitle {
    font-size: 1.5rem;
}
.experience-subtitle span {
    color : #FDC101;
}