@import "tailwindcss";

body {
  background-color: #1e2329;
}

.container {
  margin: 0 auto;
  padding: 20px;
}


.intro-text {
  color: #ffb703;
  font-size: 14px;
}

.name {
  color: #ffffff;
  font-size: 42px;
}

.profession {
  font-size: 24px;
  color: #ffb703;
}

.button-group {
  font-size: 14px;
  display: flex;
}

.btn-primary {
  width: 220px;
  height: 50px;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #fdc101;
  color: #1e2329;
  border-radius: 24px;
  transition: 0.5s;
}

.btn-primary:hover {
  animation-delay: 0.5ms;
  font-size: large;
  transition: 0.5s;
}

.btn-outline {
  width: 200px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fdc101;
  border-radius: 24px;
  border: 2px solid #fdc101;
  transition: 0.5s;
}

.btn-outline:hover {
  background-color: #fdc101;
  color: #1e2329;
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0, 123, 255, 0.2);
  transition: background-color 0.3s, color 0.3s, transform 0.2s,
    box-shadow 0.3s;
  font-size: large;
  transition: 0.3s;
}

.custom-box {
  width: 500px; /* Set the desired width */
  margin: 0 auto; /* Center the box horizontally */
}