.RecentProjects-subtitle{
    font-size: 1.5rem;
    color: #2f3742;
    text-align: center;
}
.RecentProjects-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #2f3742;
    text-align: center;
}
.RecentProjects-title span{
    color : #FDC101;
}