@import "tailwindcss";
.container {
    max-width: 1220px;
    padding: 20px;
}

@media (max-width: 760px) {
   .serviceTitle button{
        margin-top: 20px;
        font-size: 90%;
        width: 80%;
   }
}