@import "tailwindcss";
:root {
  --brand-color1: #ffb703;
}

.container {
  @apply mx-auto px-4; /* Keep horizontal padding and centering */
  padding-top: 20px;
  padding-bottom: 20px;
  /* max-width: none !important; Remove max-width */
}

.skills-container{
  max-width: none !important;
}

.brand-color1 {
  color: var(--brand-color1);
}

.brand-bg1{
    background-color: var(--brand-color1);
}

