.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
  width: 0;
  animation: typing 3s steps(30, end) forwards, blink 0.7s step-end infinite;
}
.text {
  font-size: 24px;
  color: #ffb703;
  margin-bottom: 25px;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
